@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?ampt1m");
  src: url("../fonts/icomoon.eot?ampt1m#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?ampt1m") format("truetype"),
    url("../fonts/icomoon.woff?ampt1m") format("woff"),
    url("../fonts/icomoon.svg?ampt1m#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-video-call:before {
  content: "\e939";
}
.icon-bookmark-edit:before {
  content: "\e938";
}
.icon-bookmark:before {
  content: "\e937";
}
.icon-complete-job-order:before {
  content: "\e936";
}
.icon-maximum-call:before {
  content: "\e935";
}
.icon-call-history:before {
  content: "\e933";
}
.icon-quick-call:before {
  content: "\e930";
}
.icon-view-detail:before {
  content: "\e934";
}

.icon-address-location:before {
  content: "\e92f";
}
.icon-delete:before {
  content: "\e927";
}
.icon-download:before {
  content: "\e928";
}
.icon-images:before {
  content: "\e929";
}
.icon-inspection-form:before {
  content: "\e92a";
}
.icon-Measurement-Details:before {
  content: "\e92b";
}
.icon-Questionnaire-Form:before {
  content: "\e92c";
}
.icon-Save:before {
  content: "\e92d";
}
.icon-Time:before {
  content: "\e92e";
}
.icon-Attach-Document:before {
  content: "\e931";
}
.icon-attach:before {
  content: "\e932";
}
.icon-close-image:before {
  content: "\e926";
}
.icon-email:before {
  content: "\e924";
}
.icon-sms:before {
  content: "\e925";
}
.icon-minus-icon:before {
  content: "\e922";
}
.icon-plus-icon:before {
  content: "\e923";
}
.icon-image-download:before {
  content: "\e90e";
}
.icon-information:before {
  content: "\e90f";
}
.icon-minus:before {
  content: "\e910";
}
.icon-mobile-app-vsite:before {
  content: "\e911";
}
.icon-plus:before {
  content: "\e912";
}
.icon-tick:before {
  content: "\e913";
}
.icon-video-download:before {
  content: "\e914";
}
.icon-video-tutorial:before {
  content: "\e915";
}
.icon-word-file .path1:before {
  content: "\e916";
  color: rgb(120, 185, 255);
}
.icon-word-file .path2:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(120, 185, 255);
}
.icon-word-file .path3:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(250, 250, 250);
}
.icon-word-file .path4:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(120, 185, 255);
}
.icon-word-file .path5:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(120, 185, 255);
}
.icon-word-file .path6:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(120, 185, 255);
}
.icon-word-file .path7:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(120, 185, 255);
}
.icon-word-file .path8:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(120, 185, 255);
}
.icon-cancel2:before {
  content: "\e91e";
}
.icon-created-by:before {
  content: "\e91f";
}
.icon-date-picker:before {
  content: "\e920";
}
.icon-help:before {
  content: "\e921";
}
.icon-profile-settings:before {
  content: "\e900";
}
.icon-schedule-appointment:before {
  content: "\e901";
}
.icon-signout:before {
  content: "\e902";
}
.icon-sorting:before {
  content: "\e903";
}
.icon-switch-user:before {
  content: "\e904";
}
.icon-user-management:before {
  content: "\e905";
}
.icon-user:before {
  content: "\e906";
}
.icon-call-configuration:before {
  content: "\e907";
}
.icon-call-recording:before {
  content: "\e908";
}
.icon-change-password:before {
  content: "\e909";
}
.icon-hamburger-menu:before {
  content: "\e90a";
}
.icon-job-order-management:before {
  content: "\e90b";
}
.icon-lander-management:before {
  content: "\e90c";
}
.icon-password:before {
  content: "\e90d";
}
