$white: #ffffff;
$black: #000000;
$blue-primary: #334aa6;
$blue-button-hover: #172a75;
$blue-focus: #256ca9;
$blue-secondary: #3b82bf;
$fc-border: #888888;
$btn-gray: #444444;
$input-border: #bababa;
$alert-sucess: #00b44b;
